**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/out
**/TestResults
**/.toolstarget
**/.env
**/.env.*
**/node_modules
**/npm-debug.log
**/.DS_Store
**/appsettings.Development.json
